{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in object_list %}
    <li>{{ student.name }} {{ student.group }} 
      
      <br> Преподаватели: <br>
      {% for teacher in teachers_for_student %}
      
        {% if teacher.student == student %}
          {{ teacher.teacher }} <br>
        {% endif %}
      {% endfor %}
    </li>
    <br>{% endfor %}
  </ul>
</div>
{% endblock %}